<div class="container">
  <h1>Welcome to the RCV Simulator!</h1>
  <p>Sixteen people are trying to determine which kind of pizza to buy. Every person lists their top 3 pizzas, in order of preference, on their ballot.</p>
  <p> In the first round, drag each ballot to the stack that matches its first vote.</p>
  <br />
  <br />
  <a class="button" href="/game" onClick="createBallot()"/>Count Votes</a>
</div>
