<div class="container" onLoad="createBallots()">
  <h1 id="round">Round 1</h1>
  <p id="info">Drag and drop your ballot onto the correct choice to count your vote.</p>

  <div class="vote_counter"></div>

  <div class="alert"></div>

  <div class="candidate" id="1">
    <div class="name">
      <h1>Mushroom</h1>
      <h3 id="1-count">(Votes: 0)</h3>
    </div>
  </div>

  <div class="candidate" id="2">
    <div class="name">
      <h1>Supreme</h1>
      <h3 id="2-count">(Votes: 0)</h3>
    </div>
  </div>

  <div class="candidate" id="3">
    <div class="name">
      <h1>Pepperoni</h1>
      <h3 id="3-count">(Votes: 0)</h3>
    </div>
  </div>

  <div class="candidate" id="4">
    <div class="name">
      <h1 class="name">Hawaiian</h1>
      <h3 id="4-count">(Votes: 0)</h3>
    </div>
  </div>

  <div class="ballot" draggable="true">
    <h3>Favorite Pizza Ballot</h3>
    <ol>
      <li id="first"></li>
      <li id="second"></li>
      <li id="third"></li>
    </ol>
  </div>

</div>
