<div class="container" id="game">
  <h1 id="round">Round 1</h1>
  <h1 id="runoff">Great job!</h1>
  <p id="info">Drag each ballot onto its matching stack.</p>

  <div class="vote_counter"></div>

  <div class="alert"></div>

  <div>
    <div class="runoff" id="yes">
      <h1>Yes</h1>
    </div>

    <div class="runoff" id="no">
      <h1>No</h1>
    </div>

    <div id="next">
      <h1>Next Round</h1>
    </div>
  </div>

  <div class="candidate" id="1">
    <div class="name">
      <h1>Mushroom</h1>
      <h3 id="1-count">(Votes: 0)</h3>
    </div>
  </div>

  <div class="candidate" id="2">
    <div class="name">
      <h1>Supreme</h1>
      <h3 id="2-count">(Votes: 0)</h3>
    </div>
  </div>

  <div class="candidate" id="3">
    <div class="name">
      <h1>Pepperoni</h1>
      <h3 id="3-count">(Votes: 0)</h3>
    </div>
  </div>

  <div class="candidate" id="4">
    <div class="name">
      <h1 class="name">Hawaiian</h1>
      <h3 id="4-count">(Votes: 0)</h3>
    </div>
  </div>

  <div class="gif">
    <iframe src="https://giphy.com/embed/uYuNg2J4x9HUY" width="480" height="207" frameBorder="0"></iframe>
  </div>

  <div class="ballot" draggable="true">
    <h3>Favorite Pizza Ballot</h3>
    <ol>
      <li id="first"></li>
      <li id="second"></li>
      <li id="third"></li>
    </ol>
  </div>
  <div id="breakdown">
    <table>
      <tr>
        <th>Round</th>
        <th>Mushroom</th>
        <th>Supreme</th>
        <th>Pepperoni</th>
        <th>Hawaiian</th>
        <th>Total Votes</th>
        <th>Threshold (50% + 1)</th>
      </tr>
      <tr>
        <td><strong>1</strong></td>
        <td>6</td>
        <td>3</td>
        <td>5</td>
        <td>2</td>
        <td>16</td>
        <td>9</td>
      </tr>
      <tr>
        <td><strong>2</strong></td>
        <td>6</td>
        <td>3</td>
        <td>7</td>
        <td class="eliminated">eliminated</td>
        <td>16</td>
        <td>9</td>
      </tr>
      <tr>
        <td><strong>3</strong></td>
        <td>7</td>
        <td class="eliminated">eliminated</td>
        <td>9</td>
        <td class="eliminated">eliminated</td>
        <td>16</td>
        <td>9</td>
      </tr>
    </table>
  </div>
</div>
