/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  background-color: #FFFFFF;
  color: #363537;
}

.navbar {
  padding: 1.5em 2em;
  background-color: #DF361C;
  position: fixed-top;
 }

.navbar-text {
  font-size: 1.5em;
  font-weight: 700;
  padding: 0 .5em;
  color: #FFFFFF;
  text-decoration: none;
}

.container {
  width: 90%;
  text-align: center;
  margin: 5em auto;
}

.candidate {
  background-color: #4D7D7F;
  display: inline-block;
  height: 100px;
  width: 22%;
  color: #FFFFFF;
  text-align: center;
  font-size: .75em;
  margin: 3em 1em;
  padding-top: 2.5em;
  padding-bottom: 2em;
  border-radius: 5px;
 }

.runoff {
  background-color: #DF361C;
  display: none;
  height: 50px;
  width: 15%;
  color: #FFFFFF;
  text-align: center;
  font-size: .75em;
  margin: 3em 1em;
  padding-top: 1em;
  padding-bottom: 2em;
  border-radius: 5px;
 }

.ballot {
  border: 3px solid gray;
  height: auto;
  padding-bottom: -5em;
  width: 200px;
  text-align: center;
  border-radius: 5px;
  margin: auto;
 }

.vote_counter {
  margin: 1em auto;
  font-weight: 500;
}

.alert {
  font-size: 1.5em;
  font-weight: 700;
  color: #FFFFFF;
  margin: auto 3em;
  border-radius: 5px;
 }

#incorrect {
  background-color: #DF361C;
}

#correct {
  background-color: #4D7D7F;
}

.counted {
  font-style: italic;
  color: #DF361C;
  text-decoration: line-through;
}

.button {
  background-color: #DF361C;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 700;
  margin: 3em auto;
  text-decoration: none;
  padding: 1em;
}

.incorrect {
  border: 3px dotted red;
}

.correct {
  border: 3px dotted white;
}

.name { pointer-events: none; }

#runoff { display: none; }

.gif { display: none; }

#next {
  background-color: #DF361C;
  display: none;
  height: 50px;
  width: 15%;
  color: #FFFFFF;
  text-align: center;
  font-size: .5em;
  margin: 3em 1em;
  padding-top: 1em;
  padding-bottom: .5em;
  border-radius: 5px;
 }

 @media screen and (max-width: 600px;) {
  .ballot {
    touch-action: none;
  }

  .candidate {
    touch-action: none;
  }
 }
